.tab-content {
    display: none;
    
}
.tabs{
    background-color: #198754;
    display: flex;
    justify-content: center;
}
.tabs .btn{
     color: aliceblue;
     font-weight: 700;
    border:0;
    border-radius:0 !important ;
    
}

.tabs .btn:hover{
    color: rgb(0, 104, 178);
    border:0;
    border-radius:0 !important ;
}


span{

color: white;

margin-top: 0.3rem;
}